@import "tailwindcss";
@import "tailwindcss/theme";
@import "./reset.css";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Hanneat";
  font-weight: normal;
  font-style: normal;
  color: var(--color-text);
  background-color: var(--color-background);
  src: url("/Hanneat-Bold.otf") format("otf");
}

@theme {
  --font-hanneat: "Hanneat", sans-serif;
  --color-text: oklch(0.2603 0 0); /* 242424 */
  --color-background: oklch(0.953 0.0054 17.25); /* F3EEEE */

  --color-dark-blue: oklch(0.2724 0.041 277.36); /* 22253b */
  --color-primary-blue: oklch(0.5456 0.253 274.1); /* 4e4eff */

  --color-dark-orange: oklch(0.5575 0.1954 37.35); /* cc3600 */
  --color-primary-orange: oklch(0.6609 0.1954 37.35); /* F15A29 */

  --color-light-blue: oklch(0.9142 0.0352 250.87) /* d2e5fa */;
  --color-light-green: oklch(0.9536 0.0308 137.82) /* e6f5e1 */;
  --color-light-orange: oklch(0.9001 0.0384 38.09) /* f6d6cc */;
  --color-white: oklch(0.953 0.0054 17.25); /* F3EEEE */
}

@layer base {
  html {
    overscroll-behavior: none;
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }

  button[disabled],
  [role="button"][disabled] {
    cursor: not-allowed;
  }

  button:active {
    transform: scale(1.05);
  }

  h1 {
    @apply font-hanneat text-3xl font-bold md:text-4xl lg:text-5xl xl:text-6xl;
  }

  h2 {
    @apply font-hanneat text-2xl font-bold md:text-3xl lg:text-4xl xl:text-5xl;
  }

  h3 {
    @apply font-hanneat text-xl font-bold md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg font-bold md:text-xl lg:text-2xl;
  }

  h5 {
    @apply text-base font-bold md:text-lg;
  }

  h6 {
    @apply text-sm font-bold md:text-base;
  }
}
